{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Reclamation Service</title>
   
    {% block stylesheets %}
        {# Include Bootstrap from CDN #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {# Add your other stylesheets here if needed #}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% include 'navbar.html.twig' %}
        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {# Add your JavaScript files here if needed #}
</body>
</html>
